* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #add8e65c;
  justify-content: center;
}
.dashboard {
  width: 80%;
  margin: 0px auto;
  margin-top: 7rem;
}
.heading {
  padding: 1rem 0px;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: lightblue;
  z-index: 100;
}
.grid {
  cursor: pointer;
  background: #70f2b4bf !important;
  padding: 0px 25px !important;
  margin: 10px !important;
  border-radius: 10px !important;
  transition: all 0.3s;
}
.grid:hover {
  transform: scale(1.02);
}
.arrow-icon {
  padding: 10px;
  border-radius: 50%;
  background-color: antiquewhite;
  transition: all 0.4s;
}
.arrow-icon:active {
  transform: scale(0.95);
}
.btns {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loader {
  width: 100%;
  margin: 0px auto;
}
.skeleton {
  width: 700px !important;
  height: 150px !important;
}




/* Charts Styling */
.contributor-chart{
  width: 100%;
  height: 200px;
}

#highcharts-jtnw4dz-1101{
  width: 800px !important;
  height: 250px !important;
}
.graphs{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: #70f2b4bf;
  margin: 20px auto;
}